#nav-bar {
    margin-bottom: 15px;
}

h4 {
    padding: 15px 15px;
}

#dropdown{
    padding-bottom: 15px;
}

#alcohol {
    justify-content: center;
}

#results img {
    width: 300px;
}

#results h3 {
    padding-top: 15px;
    text-align: center;
}

#results button {
    margin: 15px;
}

#button {
    text-decoration: none;
    color: white;
}

/* .button :hover {
    color:white;
} */

#cocktail {
    margin: 10px;
}

ul {
    list-style: none;
}
